#burger {
  /* display: flex; */
  display: none;
  justify-content: space-around;
  flex-flow: column nowrap;
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 20;
}

#burger div{
  width: 1.8rem;
  height: .18rem;
  background-color: rgb(186, 191, 199);
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 768px) {
  #burger {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}