input, textarea {
  border: none;
  border-radius: 4px;
  background-color: #101010;
  color: whitesmoke;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid gray;
  border-radius: 4px;
  box-shadow: 0 2px 24px rgba(139, 138, 138, 0.25);
}

.get-started {
  margin: 30px 0;
  background-color: #212123; /* #212123 */
  width: 100%;
}

.form-container {
  padding: 10px 0;
}

.get-started,
.form-container,
.get-started-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.get-started-text {
  width: 50%;
  margin: 20px auto;
}

.get-started-text h2 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}

.get-started-text p {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
}

.form-container {
  margin: auto;
  width: 50%;
}

.width-100 {
  width: 100% !important;
  padding: 10px 5px;
}

#startBtn {
  background: #DB4747;
  margin: 10px;
  padding: 5px;
  color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 100%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}

@media (max-width: 780px) {
  .get-started-text {
    margin: 0;
  }
  .get-started-text, .form-container {
    width: 100%;
    padding: 10px;
  }
}
