body {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
  color: #fff;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo, Monaco,
    Consolas,
    'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

#root {
  width: 100%;
}

.app {
  padding: 0;
  margin: 0;
  background-color: #1f1f22;
  color: #fff;
  width: 100%;
}

.app .footer {
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin: 10px 0;
  padding: 20px;
  background-color: black;
}

.resume-link {
  background-color: #212123;;
  color: #DB4747;
  align-items: center;
  padding: 10px 5px;
  margin-top: 20px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.resume-link:hover {
  text-decoration: none;
  color: #DB4747;
  box-shadow: 0 2px 24px rgba(139, 138, 138, 0.25);
}

.app .footer .resume-link,
.app .footer #contacts  {
  padding: 10px 20px;
  margin: 0 20px;
}

@media (min-width: 780px) {
  .app .footer .resume-link, .app .footer #contacts {
    padding: 5px 5px;
    margin: 0 5px;
  }
  .app .footer {
    flex-direction: row;
  }
}