#projectsContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 30px auto 0 auto;
  padding: 0;
  width: 100%;
}

#recentWork {
  align-self: start;
  margin-left: 50px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  font-weight: bold;
}

#projectWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#212123;
  margin-top: 15px;
  width: 90%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 20px;
  width: 80%;
}

.project-info p {
  display: block;
  margin: 20px 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

#projectWrapper h2 {
  font-weight: bold;
  font-size: 32px;
  padding: 15px 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 15px 0;
  width: 60%;
}

.see-project {
  background-color: rgb(185, 55, 55);
  color: white;
  vertical-align: middle;
  margin-top: 10px;
  padding: 2px;
  width: 90%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.see-project svg {
  width: 18px; 
  height: 18px;
}

.see-project:hover {
  text-decoration: none;
  color: white;
  background: rgb(206, 45, 66);
}

#stackWrapper {
  position: relative;
}
#stackWrapper span {
  display: inline-block;
  padding: 2px;
  margin: 2px;
  position: static;
  border: 2px solid gray;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: #FFFFFF;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  z-index: -1;
}

.project-img {
  width: 80%;
  height: 50%;
}

.links {
  flex-direction: column;
}

@media (min-width: 769px) {
  .see-project {
    width: 45%;
  }
  .see-project svg {
    width: 24px; 
    height: 24px;
  }
}

@media (min-width: 1024px) {
  #projectsContainer {
    padding: 0;
  }

  #projectWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex: 0 0 50%; */
    width: 95%;
    justify-items: flex-start;
    align-items: center;
  }

  .project-img {
    width: 450px;
    height: 350px;
  }

  .project-info {
    padding: 0 0 0 10px;
    margin: 0 10px;
    width: 50%;
  }

  #stackWrapper span {
    padding: 4px;
  }

  .see-project {
    padding: 4px;
    width: 50%;
  }
}

@media (min-width: 1320px) {
  .project-img {
    width: 600px;
    height: 420px;
  }

  .project-info {
    padding: 0 0 0 20px;
  }
}

@media (min-width: 1600px) {
  .project-img {
    width: 720px;
    height: 620px;
  }

  .project-info {
    padding: 0 0 0 30px;
  }
}