#projectsContainer {
  /* align-content: center;
  justify-content: center;
  max-width: 90%; */
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: start;
  margin: 10px 25px;
  padding: 0;
  flex: 0 0 50%;
  max-width: 100%;
}

#projectWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 100%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  margin: 0 20px;
  /* max-width: 40%; */
  max-width: 40%;
}

.project-info p {
  display: block;
  margin: 20px 0;
}

#projectWrapper h2 {
  font-weight: bold;
  font-size: 32px;
  padding: 15px 0;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 15px 0;
  width: 100%;
}

.see-project:hover {
  text-decoration: none;
  color: white;
  background: rgb(206, 45, 66);
}

#stackWrapper span {
  display: inline-block;
  padding: 4px;
  margin: 5px;
  border: 2px solid gray;
  color: red;
}

.see-project {
  background-color: rgb(185, 55, 55);
  color: white;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
  padding: 10px;
  width: 60%;
}


.project-img {
  width: 720px;
  height: 640px;
}

.links {
  flex-direction: column;
}

@media (min-width: 1368px) {
  #projectsContainer {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    align-items: start;
    margin: 10px 25px;
    padding: 0;
    flex: 0 0 50%;
    max-width: 100%;
  }
  
  #projectWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 50%;
    width: 100%;
    justify-items: flex-start;
    align-items: center;
    background-color:#212123;
    margin-bottom: 20px;
  }
  
  .project-img {
    width:  720px;
    height: 520px;
    margin: 10px;
    padding: 0;
  }
}

@media (min-width: 1301px) and (max-width: 1368px) {
  .project-img {
    width:  680px !important;
    height: 480px !important;
  }
}

@media (min-width: 1128px) and (max-width: 1300px) {
  #projectsContainer {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  #projectWrapper {
    flex-direction: column;
    /* justify-content: center; */
    width: 90%;
    margin-top: 10px;
    justify-content: center;
    margin: 0 auto;
  }

  .project-img {
    width:  640px !important;
    height: 440px !important;
  }

  .project-info {
    align-self: start;
    width: 100%;
    padding: 25px;
    margin-left: 30px;
    max-width: 80%;
  }
}

@media (min-width: 781px) and (max-width: 1127px) {
  #projectsContainer {
    align-items: center;
    justify-items: center;
  }
  #projectWrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  
  }

  .project-img {
    width:  640px !important;
    height: 440px !important;
  }

  .project-info {
    align-self: start;
    width: 100%;
    padding: 25px;
    margin-left: 30px;
    max-width: 80%;
  }
}

@media (min-width: 640px) and (max-width: 780px) {
  #projectsContainer {
    align-items: center;
    justify-items: center;
    width: 90%;
  }

  #projectWrapper {
    flex-direction: column;
    justify-items: center;

    width: 80%;
    margin-top: 10px;
  }

  .project-img {
    width: 420px !important;
    height: 320px !important;
  }

  .project-info {
    max-width: 60%;
  }

  .links {
    flex-direction: column;
  }

  .see-project {
    margin: 5px;
    width: 60%;
  }
}
