#projectsContainer {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}

#projectWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 100%;
  justify-items: start;
  align-items: center;
}

#projectsContainer #projectWrapper:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.project-img {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
}

.project-info h2 {
  font-weight: bold;
  font-size: 32px;
}

#stackWrapper {
  padding: 5px;
  margin: 5px;
}
#stackWrapper span {
  display: inline-block;
  padding: 4px;
  margin: 5px;
  border: 2px solid gray;
  color: red;
}

#seeProject {
  background-color: red;
  color: white;
  padding: 10px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
}

#seeProject:hover {
  background: rgba(3, 104, 79, 0.5);
}